<div *ngIf="article">
  <h1>{{ article.title }}</h1>
    <div>
      <strong>Keywords:</strong> {{ article.keywords }}
    </div>
    <div>
        <strong>Body:</strong> {{ article.body }}
    </div>
    <div>
      <strong>Created Date:</strong> {{ article.created }}
  </div>
  <br>
<button mat-raised-button color="primary" [routerLink]="['/article/edit/', article._id]">Edit</button>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  <button mat-raised-button color="primary" (click)="deleteArticle(article._id)">Delete</button>
</div>
